
.box {
    background: #e5e5e5;
}

.parts {
    background: #fff;
    font-size: 75px;
    max-width: 750px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    box-sizing: border-box;
    .part {
        float: left;
        width: 25%;
        box-sizing: border-box;
        margin: 30px auto 0;
        & > p {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            font-size: 25px;
        }
        .circle {
            margin: 0 auto;
            cursor: pointer;
            width: 120px;
            height: 120px;
            position: relative;
            left: 0;
            top: 0;
            .circleOut, .circleIn {
                width: 120px;
                height: 120px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .target {
                position: absolute;
                right: 5px;
                top: 10px;
                font-size: 20px;
                background: rgba(0, 128, 0, 0.8);
                border-radius: 100%;
                text-align: center;
                width: 25px;
                height: 25px;
                line-height: 25px;
                color: #fff;
            }
        }
        .circleOut {
            background: url('../static/images/circle_no.png') no-repeat center;
            background-size: 120px 120px;
            
        }
        .circleIn {
            background: url('../static/images/circle_no1.png') no-repeat center;
            background-size: 120px 120px;
            img {
                display: block;
                width: 60px;
                margin: 25px auto;
            }
        }
    }
}