.home {
    background: #fff;
    .item {
        display: flex;
        background: url('../static/images/portion_bg.png') no-repeat center;
        background-size: 100% 100%;
        margin: 20px;
        border-radius: 5px;

        & > div {
            font-size: 20px;
            text-align: center;
            height: 160px;
            box-sizing: border-box;
            em {
                color: #333;
                font-style: normal;
                position: relative;
                left: 16px;
                cursor: pointer;
                font-weight: bolder;
            }
            &:nth-of-type(1) {
                flex: 2;
                &:nth-of-type(1) {
                    background: rgb(151, 195, 241);
                    border-radius: 5px;
                    img {
                        width: 80px;
                        display: block;
                        margin: 40px auto;
                    }
                }
            }
            
            &:nth-of-type(2) {
                flex: 3;
                h5 {
                    font-size: 25px;
                    color: #666;
                    margin: 36px 0 20px;
                }
                p {
                    font-size: 20px;
                    color: #999;
                    
                }
            }
            &:nth-of-type(3) {
                flex: 3;
                font-size: 20px;
                color: #999;
                padding-top: 90px;
            }
        }
    }
}